@model IEnumerable<MovelCreator.Models.Movel>

@{
    ViewBag.Title = "Moveis";
}

<h2>Todos Moveis</h2>

<p>
    @Html.ActionLink("Criar um Movel", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeDoMovel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDoMovel)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.MovelId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.MovelId }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.MovelId })
        </td>
    </tr>
}

</table>
