@model IEnumerable<MovelCreator.Models.CriarMovel>

@{
    ViewBag.Title = "Moveis Criados";
}

<h2>Moveis Criados</h2>

<p>
    @Html.ActionLink("Criar Novo Movel", "CriarMovel")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movel.NomeDoMovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estilo.NomeDoEstilo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Movel.NomeDoMovel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estilo.NomeDoEstilo)
        </td>
        <td>
            @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
