<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produto</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/Darkly.min.css" rel="stylesheet" />
    <link href="~/Content/MyCSS.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="btns_nav" style="float:left;display:inline-flex; font-size:2rem;">
                <div class="btns">
                    @Html.ActionLink("Home", "Index", "Home")
                </div>
                <div class="btns">
                    @Html.ActionLink("Movel", "Index", "Movel")
                </div>
                <div class="btns">
                    @Html.ActionLink("Estilo", "Index", "Estilo")
                </div>
                <div class="btns">
                    @Html.ActionLink("CriarMovel", "CriarMovel", "Movel")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <footer>
        <div style="bottom:0; position:fixed; width:100% ">
            <p style="text-align:center;">&copy; @DateTime.Now.Year - Arquitetura de Software</p>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
